@import "import/variables";
@import "import/dropzone";
@import "import/ckeditor";
@import "import/parler_admin";

.box {
    display: none;
    position: relative;
    height: 100px;

    &.has-advanced-upload {
        display: block;
        background-color: white;
        outline: 2px dashed silver;
        outline-offset: -10px;
    }
    &.is-dragover {
        outline: 2px solid silver;
    }
    .label {
        position: relative;
        width: 100%;
        top: calc(50% - 15px);
        text-align: center;
        font-size: 18px;
        pointer-events: none;
        color: silver
    }
}
#header {
    background: $default-color;
    color: white;
}
branding h1, #branding h1 a:link,
#branding h1 a:visited {
    color: white;
}
.module h2, .module caption, .inline-group h2 {
    background: #cacaca;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
a:link, a:visited {
    color: gray;
}
a:hover, a:active,
div.breadcrumbs a:focus, div.breadcrumbs a:hover {
    color: $default-color;
}
.object-tools a:focus, .object-tools a:hover {
    color: white;
    background-color: $default-color;
}
div.breadcrumbs {
    background: #abc1ff3b;
    color: black;
    border-bottom: solid 1px $default-color;

    a {
        color: gray;
    }
}
#nav-sidebar .current-model {
    background: #abc1ff3b;
}
#nav-sidebar .current-app .section:link, #nav-sidebar .current-app .section:visited {
    color: $default-color;
}
.vTextField, 
.vUUIDField,
input[type=text] {
    width: calc(100% - 185px);
}
.tabular.inline-related {
    .vTextField,
    .vUUIDField,
    input[type=text] {
        width: calc(100% - 20px);
    }
}
.vDateField {
    width: auto !important;
}
.inline-related {
    select {
        min-width: 50px;
    }
}

.related-widget-wrapper-link img {
    height: 20px;
}
select {
    min-width: 300px;
}
.selector option {
    padding: 5px 0;
}
.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background-color: gray;
}
.button.default, input[type=submit].default, .submit-row input.default {
    background-color: $default-color;
}
.button:active, input[type=submit]:active, input[type=button]:active, .button:focus, input[type=submit]:focus, input[type=button]:focus, .button:hover, input[type=submit]:hover, input[type=button]:hover {
    background-color: silver;
}
.button.default:active, input[type=submit].default:active, .button.default:focus, input[type=submit].default:focus, .button.default:hover, input[type=submit].default:hover {
    background-color: gray;
}
.custom_button {
    display: block;
    background: $default-color;
    border-radius: 4px;
    padding: 10px 15px;
    line-height: 24px;
    color: #fff;
    border: none;
    cursor: pointer;

    svg {
        height: 20px;
        position: relative;
        top: 4px;
        margin: 0 10px 0 0;
    }
}
form:not(#login-form) {
    .submit-row {
        position: fixed;
        bottom: 0;
        right: 40px;
    }
    #content-main {
        padding-bottom: 50px !important;
    }
}
