{% load custom_admin_filters i18n %}

<fieldset class="module aligned {{ fieldset.classes }}">
    {% if fieldset.name %}<h2>{{ fieldset.name }}</h2>{% endif %}
    {% if fieldset.description %}
        <div class="description">{{ fieldset.description|safe }}</div>
    {% endif %}

    {% for line in fieldset %}
        <div class="form-row{% if line.fields|length_is:'1' and line.errors %} errors{% endif %}{% if not line.has_visible_field %} hidden{% endif %}{% for field in line %}{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% endfor %}">
            {% if line.fields|length_is:'1' %}{{ line.errors }}{% endif %}
            {% for field in line %}
                <div{% if not line.fields|length_is:'1' %} class="fieldBox{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% if not field.is_readonly and field.errors %} errors{% endif %}{% if field.field.is_hidden %} hidden{% endif %}"{% elif field.is_checkbox %} class="checkbox-row"{% endif %}>
                    {% if not line.fields|length_is:'1' and not field.is_readonly %}{{ field.errors }}{% endif %}
                    {% if field.is_checkbox %}
                        {{ field.field }}{{ field.label_tag }}
                    {% elif field.field|field_type == 'filefield' or field.field|field_type == 'imagefield' or field.field|field_type == 'imageformfield' %}
                        {{ field.label_tag }}

                        {% if not inline %}
                            {% if not dropzone %}
                                <button type="submit" value="Salva" class="custom_button" name="_continue">
                                    {% trans "Attiva caricamento media" %}
                                </button>
                            {% else %}
                                {{ field.field }}

                                <div class="custom-dropzone j-dropzone-box" id="{{ field.field.auto_id }}-dropzone">
                                    <div class="custom-dropzone__label label">{% trans "Trascina i file qui o clicca per caricare" %}</div>
                                </div>

                                <script>
                                    $(function(){
                                        var myDropzone = new Dropzone("#{{ field.field.auto_id }}-dropzone", {
                                            url: "{{ dropzone.url }}",
                                            paramName: "file", // The name that will be used to transfer the file
                                            maxFilesize: {% if field.field|field_type == 'imagefield' or field.field|field_type == 'imageformfield' %}{{ dropzone.maxImagesize }}{% else %}{{ dropzone.maxFilesize }}{% endif %}, // MB
                                            maxFiles: 1,
                                            previewTemplate: $('#dropzone_previewTemplate').html(),
                                            acceptedFiles: {% if field.field|field_type == 'imagefield' or field.field|field_type == 'imageformfield' %}'{{ dropzone.acceptedImages }}'{% else %}'{{ dropzone.acceptedFiles }}'{% endif %},
                                            sending: function(file, xhr, formData) {
                                                formData.append("object_id", '{{ adminform.form.instance.pk }}');
                                                formData.append("model", '{{ opts.app_label }}.{{ opts.model_name }}');
                                                formData.append("field_name", '{{ field.field.name }}');
                                            },
                                            error: function(file, message) {
                                                $(file.previewElement).addClass("dz-error").find('.dz-error-message').text("errore");
                                            },
                                            complete: function(file) {
                                                $("#{{ field.field.auto_id }}-dropzone").prev().find('.j-remove_on_update').remove();
                                            }
                                        });
                                    });
                                </script>
                            {% endif %}
                        {% else %}  <!-- else is not inline: -->
                            {{ field.field }}
                            
                            <div class="custom-dropzone j-dropzone-box" id="{{ field.field.auto_id }}-dropzone">
                                <div class="custom-dropzone__label label">{% trans "Trascina i file qui o clicca per caricare" %}</div>
                            </div>
                            <script>
                                $(function(){
                                    {% if inline_admin_form.original and inline_admin_formset.opts.dropzone_form_single_url %}
                                        var myDropzone = new Dropzone("#{{ field.field.auto_id }}-dropzone", {
                                            url: "{{ inline_admin_formset.opts.dropzone_form_single_url }}",
                                            paramName: "file", // The name that will be used to transfer the file
                                            maxFilesize: {% if field.field|field_type == 'imagefield' or field.field|field_type == 'imageformfield' %}{{ inline_admin_formset.opts.maxImagesize }}{% else %}{{ inline_admin_formset.opts.maxFilesize }}{% endif %}, // MB
                                            maxFiles: 1,
                                            //previewTemplate: $('#dropzone_previewTemplate').html(),
                                            dictDefaultMessage: "<i class='fas fa-cloud-upload-alt fa-2x'></i><br/><div class='mt-1'>{% trans "Click here to upload new media" %}</div>",
                                            acceptedFiles: {% if field.field|field_type == 'imagefield' or field.field|field_type == 'imageformfield' %}'{{ inline_admin_formset.opts.acceptedImages }}'{% else %}'{{ inline_admin_formset.opts.acceptedFiles }}'{% endif %},
                                            sending: function(file, xhr, formData) {
                                                formData.append("object_id", '{{ inline_admin_form.original.pk }}');
                                                formData.append("model", '{{ inline_admin_formset.opts.model|to_class_name }}');
                                                formData.append("field_name", '{{ field.field.name }}');
                                                formData.append("parent_model", '{{ inline_admin_form.original|to_class_name }}');
                                            },
                                            error: function(file, message) {
                                                $(file.previewElement).addClass("dz-error").find('.dz-error-message').text("errore");
                                            },
                                            complete: function(file) {
                                                $("#{{ field.field.auto_id }}-dropzone").prev().find('.j-remove_on_update').remove();
                                            }
                                        });
                                    {% endif %}
                                });
                            </script>
                        {% endif %}<!-- endif image/dropzone -->
                    {% else %}
                        {{ field.label_tag }}
                        {% if field.is_readonly %}
                            <div class="readonly">{{ field.contents }}</div>
                        {% else %}
                            {{ field.field }}
                        {% endif %}
                    {% endif %}
                    {% if field.field.help_text %}
                        <div class="help">{{ field.field.help_text|safe }}</div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</fieldset>
