{% load i18n admin_urls static admin_modify custom_admin_filters %}

<div class="js-inline-admin-formset inline-group" id="{{ inline_admin_formset.formset.prefix }}-group"
     data-inline-type="stacked" data-inline-formset="{{ inline_admin_formset.inline_formset_data }}">
    <fieldset class="module {{ inline_admin_formset.classes }}">
        <h2>{{ inline_admin_formset.opts.verbose_name_plural|capfirst }}</h2>
        {{ inline_admin_formset.formset.management_form }}
        {{ inline_admin_formset.formset.non_form_errors }}

        {% if inline_admin_formset.opts.dropzone_top %}
            <div class="custom-dropzone j-dropzone-box" id="{{ inline_admin_formset.formset.prefix }}-dropzone"
                 style="margin: 10px 0;">
                <div class="custom-dropzone__label label">{% trans "Trascina i file qui o clicca per caricare" %}</div>
            </div>

            <script>
                $(function () {
                    var myDropzone = new Dropzone("#{{ inline_admin_formset.formset.prefix }}-dropzone", {
                        url: "{{ inline_admin_formset.opts.dropzone_form_multiple_url }}",
                        paramName: "file", // The name that will be used to transfer the file
                        maxFilesize: {{ inline_admin_formset.opts.top_maxFilesize }}, // MB
                        maxFiles: {{ inline_admin_formset.opts.top_maxFiles }},
                        previewTemplate: $('#dropzone_previewTemplate').html(),
                        acceptedFiles: '{{ inline_admin_formset.opts.top_acceptedFiles }}',
                        sending: function (file, xhr, formData) {
                            formData.append("object_id", '{{ adminform.form.instance.pk }}');
                            formData.append("model",
                                '{{ inline_admin_formset.opts.model|to_class_name }}');
                            formData.append("field_name",
                                '{{ inline_admin_formset.opts.top_field_name }}');
                        },
                        error: function (file, message) {
                            console.log(message);
                            $(file.previewElement).addClass("dz-error").find('.dz-error-message').text(
                                "errore");
                        },
                        complete: function (file) {
                            if (this.getUploadingFiles().length === 0 &&
                                this.getQueuedFiles().length === 0 &&
                                this.getRejectedFiles().length === 0) {

                                var save = true;
                                this.getAcceptedFiles().forEach(function (element) {
                                    if (element.status != "success") {
                                        save = false;
                                        throw BreakException;
                                    }
                                });
                                if (save)
                                    $('[name="_continue"]').click();
                            }
                        }
                    })
                });
            </script>
        {% endif %}

        {% for inline_admin_form in inline_admin_formset %}<div
                class="inline-related{% if inline_admin_form.original or inline_admin_form.show_url %} has_original{% endif %}{% if forloop.last and inline_admin_formset.has_add_permission %} empty-form last-related{% endif %}"
                id="{{ inline_admin_formset.formset.prefix }}-{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}">
            <h3><b>{{ inline_admin_formset.opts.verbose_name|capfirst }}:</b> <span
                    class="inline_label">{% if inline_admin_form.original %}{{ inline_admin_form.original }}{% if inline_admin_form.model_admin.show_change_link and inline_admin_form.model_admin.has_registered_model %}
                <a href="{% url inline_admin_form.model_admin.opts|admin_urlname:'change' inline_admin_form.original.pk|admin_urlquote %}"
                   class="{% if inline_admin_formset.has_change_permission %}inlinechangelink{% else %}inlineviewlink{% endif %}">{% if inline_admin_formset.has_change_permission %}{% translate "Change" %}{% else %}{% translate "View" %}{% endif %}</a>{% endif %}
            {% else %}#{{ forloop.counter }}{% endif %}</span>
                {% if inline_admin_form.show_url %}<a
                        href="{{ inline_admin_form.absolute_url }}">{% translate "View on site" %}</a>{% endif %}
                {% if inline_admin_formset.formset.can_delete and inline_admin_formset.has_delete_permission and inline_admin_form.original %}<span
                        class="delete">{{ inline_admin_form.deletion_field.field }}
                    {{ inline_admin_form.deletion_field.label_tag }}</span>{% endif %}
            </h3>
            {% if inline_admin_form.form.non_field_errors %}{{ inline_admin_form.form.non_field_errors }}{% endif %}
            {% for fieldset in inline_admin_form %}
                {% include "admin/includes/fieldset.html" with inline=True %}
            {% endfor %}
            {% if inline_admin_form.needs_explicit_pk_field %}{{ inline_admin_form.pk_field.field }}{% endif %}
            {% if inline_admin_form.fk_field %}{{ inline_admin_form.fk_field.field }}{% endif %}
        </div>{% endfor %}
    </fieldset>
</div>